.car-form {
  width: 500px;
  margin-top: 15px;
  padding: 15px;
}

.car-list .panel {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.car-list p {
  font-size: 1.5rem;
}

.car-list .no-cars {
  font-style: italic;
  display: block;
  margin: 20px;
}

.total {
  font-size: 2.5rem;
}
